<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oney.gcm">
          <application
            android:name="com.oney.gcm.GcmApplication">
            <activity
                android:name="com.oney.gcm.UnlockScreenActivity"
                android:screenOrientation="portrait"/>
          </application>
</manifest>
